@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import "reset";
@import "variables";
@import "grid";

*,
body,
html {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  // background: purple;
}

.container {
  max-width: 100%;
}
@import "header";
@import "filter";
@import "listings";
@import "content-area";