@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import "reset";
@import "variables";
@import "grid";


*,
body,
html,
:after, :before {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  // background: purple;
}

.container {
  max-width: 100%;
}

.hidden {
  display: none;
}

@import "../../components/Header/header";
@import "../../components/FrontPage/HeroDisplay/heroDisplay.scss";
@import "../../components/FrontPage/RegionInfoFooter/regionInfoFooter.scss";
@import "../../components/FrontPage/BrandsFooter/brands-footer.scss";
@import "../../components/FrontPage/Footer/footer.scss";
@import "filter";
@import "listings";
@import "content-area";