$darkpurple: #0C002B;
$grey: #FAF7F5;
$offwhite: #FFFEFF;
$white: white;
$headerbackground:white;
$headerlinks: black;
$headerlinksfontsize: .9rem;
$headerfontweight: 400;
$headerletterspacing: 1px;
$mobilemenuheadercolor: #0074e4;
$maincolor1: #006AFF;
$pink: #FF718E;
$darkgrey: #828d9d;
$lightgrey: #dadde2; //Grid system
$grid-columns: 12;
$grid-max-width: 1200px;
$grid-max-height: 300px;
$breakpoint-small: "only screen and (min-width:0px)";
$breakpoint-medium: "only screen and (min-width:768px)";
$breakpoint-large: "only screen and (min-width:1008px)";
$breakpoint-xl: "only screen and (min-width:1300px)";